/* Fonts */
@font-face {
    font-family: Poppins;
    src: url(../fonts/poppins.semibold.ttf);

}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'Montserrat-regular';
    src: url(../fonts/Montserrat-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'FuturaHeavyBT';
    src: url(../fonts/FuturaHeavyBT.ttf) format('truetype');
}
@font-face {
    font-family: 'Sulatty';
    src: url(../fonts/Sulatty.ttf) format('truetype');
}

body {
    background: #e8eaff;
}

 /* contact form left side's css start */

h1, h2, h3, h4, h5 {
    font-family: FuturaHeavyBT;
}

.contactLeftNums p {
    font-family: 'Montserrat-Medium';
    font-size: 14px;
}

 .contactLeftSide {
    background: #212529;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    padding: 30px;
    min-height: 100%;
}

.contactLeftTxt p {
    margin-top: 15px;
    font-size: 12px;
    font-weight: lighter;
    font-family: Montserrat-Medium;
}

.contactLeftNums p a {
    color: white;
    text-decoration: none;
}

.contactLeftNums p i {
    margin-right: 15px;
    font-size: 20px;
}

.contactLeftInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}.bigCrcl, .smallCrcl {
    position: absolute;
}

.bigCrcl {
    bottom: -100px;
    right: -60px;
    width: 55%;
    aspect-ratio: 1 / 1;
    background: #b02a37;
    border-radius: 50%;
}

.smallCrcl {
    width: 22%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: white;
    bottom: 23%;
    right: 16%;
    opacity: 0.8;
}

.contactLeftIcon {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 60%;
    grid-template-columns: 25% 25% 25% 25%;
}

.contactLeftIcon i {
    /* padding: 13px; */
    text-align: center;
    border-radius: 50%;
    /* margin: 4px; */
    font-size: 21px;
    transition: 0.15s;
}

.contactLeftIcon i:hover {
    /* background: #a72633; */
}

.bigCrcl, .smallCrcl {
    position: absolute;
}

.bigCrcl {
    bottom: -100px;
    right: -60px;
    width: 56%;
    aspect-ratio: 1 / 1;
    background: #b02a37;
    border-radius: 50%;
}

.smallCrcl {
    width: 24%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: white;
    bottom: 11%;
    right: 16%;
    opacity: 0.8;
}

.contactLeftIcon {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 60%;
    grid-template-columns: 25% 25% 25% 25%;
}

.contactLeftIcon a:hover {
    background: #a72633;
}

.contactLeftIcon a {
    text-align: center;
    padding: 13px;
    border-radius: 50%;
    margin: 4px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.15s;
    min-width: 47px;
}


 /* contact form left side's css ends */
 
 /* contact form right side's css starts */


.contactTopForm {
    display: grid;
    grid-template-columns: 50% 50%;
}

.formBox {
    display: flex;
    flex-direction: column;
}

.formBox input {
    width: 75%;
    border: none;
    border-bottom: 2px solid #6f6e6e5c;
    outline: none;
    color: #9d9d9d;
    padding-top: 4px;
    padding-bottom: 7px;
    font-weight: 500;
}

.formBox label {
    font-size: 13px;
    font-weight: 500;
    color: #9d9d9d;
}

.formBox input:focus {
    color: #a72633;
    border-bottom: 2px solid #a72633;
}

.contactMiddleBox > p {
    font-weight: 500;
    font-size: 16px;
}

/* css for radio btns start */
.radioInput {
    display: none;
}

.radiolable {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
}

.radioCrcl {
    border: 1px solid #212529;
    height: 20px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.radioCrcl i {
    font-size: 12px;
    color: white;
}

.radioInput:checked + .radioCrcl{
    background-color: #212529;
}

.radioBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.textArea textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid #6f6e6e5c;
    outline: none;
    font-weight: 500;
    color: #212529;
    transition: 0.2s;
}

.textArea p {font-size: 13px;font-weight: 500;}

.formSbmtBtn {text-align: end;}

.formSbmtBtn input {
    border: none;
    background: #dc3545;
    color: white;
    padding: 13px 23px;
    border-radius: 0.25rem;
    transition: 0.2s;
}

.formSbmtBtn input:hover {
    background: #bb2d3b;
}

/* css for radio btns start */

 /* contact form right side's css ends */


 /* media quiries starts */
 
 @media (max-width:1200px){
    .contactLeftIcon {width: 86%;z-index: 1;}

    .bigCrcl {
        width: 56%;
        right: -26%;
    }
    
    .smallCrcl {
        width: 17%;
        right: 6%;
        bottom: 7%;
    }
     
 }

 @media (max-width: 992px){
    .contactLeftIcon {
        width: 77%;
    }
    
    .bigCrcl {
        width: 58%;
    }
    
    .smallCrcl {
        width: 19%;
        bottom: 8%;
        right: 12%;
    }

    .contactTopForm {
        grid-template-columns: 100%;
    }

    .formBox input {
        width: 100%;
    }
 }
 
@media (max-width: 768px){
    .contactLeftIcon {
        width: 48%;
    }
    
    .bigCrcl {
        bottom: -38%;
        right: -24%;
    }
    
    .smallCrcl {
        width: 21%;
        right: 10%;
        bottom: 16%;
    }

    .contactTopForm {
        grid-template-columns: 50% 50%;
    }

    .formBox input {
        width: 75%;
    }
}

@media (max-width: 490px){
    .bigCrcl {
        width: 64%;
        bottom: -29%;
        right: -21%;
    }
    
    .smallCrcl {
        width: 24%;
        right: 13%;
        bottom: 20%;
    }

    .contactLeftIcon {
        width: fit-content;
    }

    .contactTopForm {
        grid-template-columns: 100%;
    }

    .formBox input {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .bigCrcl {width: 113%;opacity: 0.4;}

    .smallCrcl {
        top: 36%;
        right: 34%;
        width: 39%;
        opacity: 0.3;
    }

    .formSbmtBtn input {
        padding: 10px 10px;
    }
}

 /* media quiries starts */
